@page "/"
@using BlazingSprites.Models.Character

<PageTitle>Home - Blazing Sprites</PageTitle>

<div style="display: flex;">

    <Character Model="Model" />

    <EditForm Model="Model">

        <div>
            <label>Direction</label>
            <InputSelect @bind-Value="Model.Direction">
                @foreach (var direction in Enum.GetValues<Direction>())
                {
                    <option>@direction</option>
                }
            </InputSelect>
        </div>

        <div>
            <label>Skin Color</label>
            <InputSelect @bind-Value="Model.SkinColor">
                @foreach (var skinColor in Enum.GetValues<SkinColor>())
                {
                    <option>@skinColor</option>
                }
            </InputSelect>
        </div>
        
        <div>
            <label>Hair Color</label>
            <InputSelect @bind-Value="Model.HairColor">
                @foreach (var hairColor in Enum.GetValues<HairColor>())
                {
                    <option>@hairColor</option>
                }
            </InputSelect>
        </div>
        
        <div>
            <label>Hair Style</label>
            <InputSelect @bind-Value="Model.HairStyle">
                @foreach (var hairStyle in Enum.GetValues<HairStyle>())
                {
                    <option>@hairStyle</option>
                }
            </InputSelect>
        </div>
        
        <div>
            <label>Eyes</label>
            <InputSelect @bind-Value="Model.EyeColor">
                @foreach (var eyeColor in Enum.GetValues<EyeColor>())
                {
                    <option>@eyeColor</option>
                }
            </InputSelect>
        </div>

        <div>
            <label>Blush</label>
            <InputSelect @bind-Value="Model.BlushColor">
                @foreach (var blushStyle in Enum.GetValues<BlushColor>())
                {
                    <option>@blushStyle</option>
                }
            </InputSelect>
        </div>
        
        <div>
            <label>Lips</label>
            <InputSelect @bind-Value="Model.LipColor">
                @foreach (var lipColor in Enum.GetValues<LipColor>())
                {
                    <option>@lipColor</option>
                }
            </InputSelect>
        </div>

        <div>
            <label>Shirt Color</label>
            <InputSelect @bind-Value="Model.ShirtColor">
                @foreach (var color in Enum.GetValues<ClothesColor>())
                {
                    <option>@color</option>
                }
            </InputSelect>
        </div>
        
        <div>
            <label>Shirt Style</label>
            <InputSelect @bind-Value="Model.ShirtStyle">
                @foreach (var style in Enum.GetValues<ShirtStyle>())
                {
                    <option>@style</option>
                }
            </InputSelect>
        </div>


    </EditForm>

</div>

@code {

    private CharacterModel Model = new();
}